@import '../../../../../../../styles.scss';

.container-home {
    // height: -webkit-fill-available;
    height: auto;

    .content-card {
        padding: 2rem;
        overflow-y: auto;
        display: grid;
        grid-auto-flow: column;
        gap: 2rem;
        justify-content: flex-start;
    }

    .content-card_detail {
        cursor: pointer;
        display: grid;
        grid-auto-flow: row;
        grid-template-rows: 18rem;
        width: 300px;
        height: 390px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 2px 2px 12px #0000001F;
        border-radius: 10px;
        opacity: 1;

        &-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }

        &-information {
            display: none;
        }

        &-title {
            text-align: center;
            align-items: center;
            padding-top: 1rem;
            font-style: $font-style-normal;
            font-weight: $font-weight-bold;
            font-family: $font-family-nunito;
            letter-spacing: $character-spacing-0;
            font-size: $font-size-16;
            opacity: 1;
            color: $color-dark-black;
        }

        &:hover {
            display: grid;
            grid-auto-flow: column;
            width: 430px;
            grid-template-rows: none;

            .content-card_detail-image {
                border-top-right-radius: 0;
                border-bottom-left-radius: 10px;
            }

            .content-card_detail-title {
                display: none;
            }

            .content-card_detail-information {
                display: block;
                padding: 2rem;

                &-title {
                    font-style: $font-style-normal;
                    font-weight: $font-weight-bold;
                    font-family: $font-family-nunito;
                    letter-spacing: $character-spacing-0;
                    color: $color-dark-black;
                    font-size: $font-size-16;
                    text-align: left;
                    padding-bottom: 2rem;
                    opacity: 1;
                }

                &-listMenu {
                    display: grid;
                    grid-auto-flow: column;
                    grid-template-columns: 0fr;
                    padding-bottom: 2rem;
                    justify-content: left;
                    align-items: center;

                    &-text {
                        text-align: left;
                        padding-left: 10px;
                        font-style: $font-style-normal;
                        font-family: $font-family-nunito;
                        letter-spacing: $character-spacing-0;
                        font-size: $font-size-14;
                        opacity: 1;
                        padding: 7px;
                        margin-left: 3px;
                        color: $color-violet;

                        &:hover {
                            border-radius: 10px;
                            background: $color-light-purple 0% 0% no-repeat padding-box;
                            opacity: 1;
                        }
                    }
                }
            }

        }
    }
}