/*
    * Color Palette V1
    * Date: 2024-07-01
    * URL: https://xd.adobe.com/view/7d84fd54-5b85-43e6-8429-889874918219-28d7/screen/d2f0dffd-f6bc-4107-93f2-7a00e71a24e2/variables/
*/
$color-white: #FFFFFF;
$color-light-purple: #EBE6FF;
$color-light-gray: #F1EFEC;
$color-light-gray-scroll: #F1EFECB3;
$color-beige: #BAB0A1;
$color-dark-gray: #383839;
$color-medium-gray: #69696B;
$color-medium-gray-link: #C1C1C1;
$color-medium-gray-scroll: #adadad;
$color-low-gray: #F6F6F6;
$color-deep-purple: #392F74;
$color-purple: #6854BF;
$color-yellow: #FECE07;
$color-dark-charcoal: #4D4D4E;
$color-violet: #4B3C8C;
$color-light-purple-hover: #D6CDFB;
$color-black: #292928;
$color-dark-red: #772625;
$color-red: #A52A29;
$color-bright-red: #D22F2E;
$color-silver: #C6C6C6;
$color-gray: #808080;
$color-light-beige: #D6D0C7;
$color-light-yellow: #F9F8D7;
$color-mint-green: #ECF7F0;
$color-light-green: #C5E6D3;
$color-pale-pink: #FFD6D6;
$color-bright-pink: #FF8585;
$color-cream: #FFFEEB;
$color-mint: #9FD5B5;
$color-bright-red-alt: #FF3333;
$color-pale-yellow: #F5F3BC;
$color-dark-black: #3C3C3B;
$color-brown: #8D7502;
$color-black: #0000001A;
$color-black-shadow: #0000001F;
$color-purple-shadow: #6854BF8C;
$color-green-success: #00B158;
$color-orange-medium: #EFC92B;
$color-gray-without-data: #F6F8FC;