/*
    * Color Palette V1
    * Date: 2024-07-01
    * URL: https://xd.adobe.com/view/7d84fd54-5b85-43e6-8429-889874918219-28d7/screen/d2f0dffd-f6bc-4107-93f2-7a00e71a24e2/variables/
*/

@import './colors';

@font-face {
  font-family: 'Nunito Sans';
  src: url('../assets/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../assets/fonts/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}


$font-family-nunito: 'Nunito Sans', sans-serif;
$font-family-minion: 'Minion Pro', serif;
$font-style-normal: normal;
$font-style-italic: italic;
$font-weight-bold: bold;
$font-weight-normal: normal;
$font-weight-medium: lighter;

$font-weight-600: 600;
$font-weight-800: 800;

$font-size-10: 10px;
$font-size-11: 11px;
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-25: 25px;
$font-size-30: 30px;
$font-size-40: 40px;
$font-size-50: 50px;
$character-spacing-0: 0px;
$line-spacing-0: 0px;
$line-spacing-12: 12px;
$line-spacing-18: 18px;
$line-spacing-19: 19px;
$line-spacing-20: 20px;
$line-spacing-24: 24px;
$line-spacing-30: 30px;
$line-spacing-40: 40px;
$line-spacing-50: 50px;
$line-spacing-41: 41px;
$line-spacing-54: 54px;

.text-headline {
  font-family: $font-family-nunito;
  font-style: $font-style-normal;
  font-weight: $font-weight-800;
  font-size: $font-size-40;
  line-height: $line-spacing-54;
  letter-spacing: $character-spacing-0;
  color: $color-dark-black;
}

.text-title {
  font-family: $font-family-nunito;
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $font-size-30;
  line-height: $line-spacing-41;
  letter-spacing: $character-spacing-0;
  color: $color-dark-black;
}

.text-body {
  font-family: $font-family-nunito;
  font-style: $font-style-normal;
  font-weight: $font-weight-normal;
  font-size: $font-size-14;
  line-height: $line-spacing-20;
  letter-spacing: $character-spacing-0;
  color: $color-dark-black;
}
