@import '../../../../../styles.scss';


.contentModal {
    display: grid;
    grid-auto-flow: row;
    gap: 1.5rem;

    &-title {
        text-align: center;
        font-family: $font-family-nunito;
        font-style: $font-style-normal;
        font-weight: $font-weight-bold;
        font-size: $font-size-25;
        letter-spacing: $character-spacing-0;
        color: $color-dark-black;
        letter-spacing: 0px;
        opacity: 1;
    }

    .contentActions {
        display: grid;
        justify-items: center;
        gap: 1rem;

        &-info {
            text-align: center;
            font-family: $font-family-nunito;
            font-style: $font-style-normal;
            font-size: $font-size-16;
            letter-spacing: $character-spacing-0;
            color: $color-dark-black;
            letter-spacing: 0px;
            width: 30rem;
            opacity: 1;
        }

        &-link {
            cursor: pointer;
            text-align: center;
            font-family: $font-family-nunito;
            font-style: $font-style-normal;
            font-size: $font-size-14;
            letter-spacing: $character-spacing-0;
            color: $color-dark-black;
            letter-spacing: 0px;
            padding-top: 1rem;
            opacity: 1;
        }
    }
}