<div class="page-container">
  @if (!isConfirmLogin()) {
    <div
      class="description"
      [innerHTML]="'AUTH.CHANGE.titleInfo' | translate"
    ></div>
    <div class="form-container">
      <span class="form-container_title">
        {{ 'AUTH.CHANGE.titleForm' | translate }}</span
      >
      <div class="content-required">
        <div class="content-required-list">
          @for (required of requirementPassword(); track $index) {
            <div>
              <img
                [ngClass]="required.icon"
                [src]="ICON_IMAGES[required.icon]"
                alt="{{required.icon}}"
              />
              <span
                class="content-required-list_text"
                >{{required.description}}</span
              >
            </div>
          }
        </div>
      </div>

      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="content-password">
          <div
            class="input-wrapper"
            [ngClass]="{ successWhite: isWriteError() && !!getNewPassword.value}"
            [class.errorWhite]="!isWriteError()"
          >
            <input
              formControlName="newPassword"
              [type]="initPasswordVisible ? 'text' : 'password'"
              [placeholder]="'AUTH.CHANGE.enterPassword' | translate"
            />
            <img
              class="icon-right basicIcon"
              (click)="togglePasswordVisibility('initPasswordVisible')"
              [src]="initPasswordVisible ? ICON_IMAGES.openEye : ICON_IMAGES.closeEye"
            />
          </div>
          @if (!isWriteError()) {
            <div class="content-alert-message">
              <img class="alert" src="{{ICON_IMAGES.alert}}" />
              <span
                [innerHTML]="'AUTH.CHANGE.errorPassword' | translate"
              ></span>
            </div>
          }
          <div class="progress-bar-container">
            <div
              class="progress-bar"
              [ngClass]="progressBarClass"
              [style.width.%]="progressBarWidth"
            ></div>
          </div>

          <div
            class="input-wrapper"
            [ngClass]="{ successWhite: enableButton()}"
            [class.errorWhite]="!noMatchPassword()"
          >
            <input
              formControlName="confirmedPassword"
              [type]="confirmPasswordVisible ? 'text' : 'password'"
              [placeholder]="'AUTH.CHANGE.confirmPassword' | translate"
            />
            <img
              class="icon-right basicIcon"
              (click)="togglePasswordVisibility('confirmPasswordVisible')"
              [src]="confirmPasswordVisible ? ICON_IMAGES.openEye : ICON_IMAGES.closeEye"
            />
          </div>
          @if (!noMatchPassword()) {
            <div class="content-alert-message">
              <img class="alert" src="{{ICON_IMAGES.alert}}" />
              <span [innerHTML]="messageError() | translate"></span>
            </div>
          }
          @if (enableButton()) {
            <div class="succes-alert-message">
              <img class="check" src="{{ICON_IMAGES.check}}" />
              <span [innerHTML]="'AUTH.CHANGE.samePassword' | translate"></span>
            </div>
          }
        </div>
        @if (isErrorChangePassword()) {
          <div class="content-alert-message">
            <img src="{{ICON_IMAGES.alert}}" />
            <span class="infoText" [innerHTML]="messageError() | translate"></span>
          </div>
        }
        <div class="content-button">
          <button class="btnAuth" type="submit" [disabled]="!enableButton()">
            {{ 'BUTTONS.changePassword' | translate }}
          </button>
        </div>
      </form>
    </div>
  } @else {
    <div class="contentConfirmLogin">
      <div class="contentConfirmLogin_information">
        <img
          class="violetIcon iconCheck"
          (click)="togglePasswordVisibility('initPasswordVisible')"
          [src]="ICON_IMAGES.check"
        />
        <div class="contentConfirmLogin_information_title">
          {{'AUTH.CHANGE.messageChange' | translate}}
        </div>
      </div>
      <div class="content-button">
        <button class="btnAuth" type="submit" (click)="goToLogin()">
          {{ 'BUTTONS.initSesion' | translate }}
        </button>
      </div>
    </div>
  }
</div>
